ng-form(name="form")
  .form-group
    label.fg-label(ng-if="$ctrl.criterion.fieldName === 'deliveryDate'") {{ 'Messages whose delivery date' | translate }}
    label.fg-label(ng-if="$ctrl.criterion.fieldName === 'deletionDate'") {{ 'Messages whose deletion date' | translate }}
    md-input-container
      md-select(ng-model="$ctrl.criterion.operator", md-container-class="criterion-type-selector-dropdown", required)
        md-option(ng-value="'beforeOrEquals'") {{ 'is before or on' | translate }}
        md-option(ng-value="'afterOrEquals'") {{ 'is after or on' | translate }}

  .form-group
    label.fg-label {{ 'the date' | translate }}
    .fg-line
      input.form-control.criterion-value(
        type="text",
        ng-model="$ctrl.criterion.value",
        date-format="{{::$ctrl.dateFormat}}",
        data-autoclose="1",
        bs-datepicker,
        required
      )
