ng-form(name="form")
  inbox-james-deleted-messages-criteria-item(
    ng-repeat='criterion in $ctrl.criteria track by $index',
    criterion='criterion',
    delete-criterion="$ctrl.deleteCriterion($index)",
    ng-if="!$ctrl.selectAll"
  )

  .no-criteria-message(ng-if="!$ctrl.criteria.length")
    .message
      .no-criteria-icon.mdi.mdi-format-list-bulleted
      .message {{ 'No criterion, click + to add a new one' | translate }}

fab(icon="plus", ng-if="!$ctrl.selectAll", ng-click="$ctrl.addCriterion()")
