extends /modules/subheader/responsive-subheader.pug

block left
  inbox-subheader-close-button.hidden-md
  .title #{__('Request to restore deleted emails')}

block right
  button.btn.btn-link.save.hidden-xs(ng-click="$ctrl.onRequestSubmit()", ng-disabled="$ctrl.form.$invalid || !$ctrl.criteria.length")
    .flex-vertical-centered
      span #{__('Send')}

  button.btn.btn-link.btn-icon.save.visible-xs(ng-click="$ctrl.onRequestSubmit()", ng-disabled="$ctrl.form.$invalid || !$ctrl.criteria.length")
    i.mdi.mdi-send