.listview(ng-if="$ctrl.displayIn === 'domain'")
  .lv-body
    .lv-item.clickable.menu-item.flex(esn-toggle, toggled="true")
      i.mdi.mdi-format-list-checks
      .menu-title #{__('Quarantine')}
      .flex-grow
        .badge-container.flex-end
          .caret-submenu
            i.mdi.mdi-menu-down
    ul
      .lv-item.clickable.menu-sub-item(ui-sref="admin.domain.dlp.quarantine", ui-sref-active="selected")
        i.mdi.mdi-email
        .menu-title #{__('Quarantined')}
      .lv-item.clickable.menu-sub-item(ui-sref="admin.domain.dlp.rejected", ui-sref-active="selected")
        i.mdi.mdi-close-circle
        .menu-title #{__('Rejected')}
      .lv-item.clickable.menu-sub-item(ui-sref="admin.domain.dlp.settings", ui-sref-active="selected")
        i.mdi.mdi-settings
        .menu-title #{__('Settings')}