md-menu-item
  md-button(
    ui-sref="unifiedinbox.deleted-messages",
    backdrop="static"
  )
    md-icon(md-menu-origin, md-svg-icon="undo", aria-label="recover Icon")
    | #{__('Recover deleted messages')}
